body {
  background: #d6e2f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.qr-code {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #1f3251;
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  color: #7b879d;
  font-size: 14px;
}
