:root{
    --color: #c48e3f;
    --font-size: 15px;
    - Slate 300: hsl(212, 45%, 89%)
}

* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

#wrapper{
    color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


